
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <h2>All leagues</h2>
      <div class="button-padding">
         <%= link_to "Create your own league", new_league_path, class: 'main-button modal-button'%>
      </div>
        <% @leagues.each do |league| %>
          <%= link_to league_path(league) do %>
            <div>
              <aside class="sidebar-left3">
              </aside>

              <article class="league-box">
                <div class="grid-container">
                  <div>
                    <p class="party-members">
                      <%= league.name %>
                    </p>
                    <p class="party-members-count">
                      Created by <%= league.user.username %>
                    </p>
                  </div>
                  <div>
                    <p class="parties-count">
                    It has
                      <%= league.political_parties.count %>
                      <% if league.political_parties.count == 1 %>
                        party
                      <% else %>
                        parties
                      <% end %>
                    </p>
                    <p class="score-number">
                    </p>
                  </div>
                </div>
              </article>
           </div>
          <% end %>
        <% end %>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <h2>Leagues my parties belong to</h2>

      <% current_user.leagues.each do |league| %>
        <%= link_to league_path(league) do %>
      <div>
          <aside class="sidebar-left3">
          </aside>

          <article>
            <div class="grid-container">
              <div>
                <p class="party-members">
                  <%= league.name.upcase %>
                </p>
                <p class="party-members-count">It has
                  <%= league.political_parties.count %>
                  <% if league.political_parties.count == 1 %>
                    party
                  <% else %>
                    parties
                  <% end %>
                </p>
              </div>
            </div>
          </article>
          <aside class="sidebar-right3">
            <p>
            </p>
          </aside>
      </div>
      <% end %>
      <% end %>
      <%= link_to "Create your own league", new_league_path, class: 'main-button modal-button'%>
  </div>
</div>




