[<h1 class="league-header"><%= @league.name %></h1>
    <!-- Upper container -->
<div class="league-statistics">
  <div class="league-numbers">
    <h4>Members</h4>
    <p><%= @league.political_parties.count %></p>
  </div>
  <% unless @league.political_parties.first.nil? %>
    <div class="league-leader">
        <h4>Founding Party</h4>
        <div class="leader-details">
          <div>
            <p class="party-title"><%= link_to @league.political_parties.first.name, political_party_path(@league.political_parties.first) %></p>
            <p class="league-user"><%= @league.political_parties.first.user.username %></p>
          </div>
          <div class="leader-score">
            <p><%= @league.political_parties.first.score %></p>
          </div>
        </div>
    </div>
  <% end %>
</div>

    <!-- Lower container -->
<% unless @league.political_parties.first.nil? %>
  <h4>Parties</h4>
  <% @league.political_parties.sort_by{|i| -i.score}.each_with_index do |party, index| %>
    <div class="league-parties">
      <div class="league-party-card">
        <div class="party-rank">
          <%= index + 1 %>
        <div class="user-avatar" style="background-image: url(<%= cl_image_path party.user.cl_photo %>);"></div>
        </div>
        <div class="party-name">
          <div>
            <p class="party-title"><%= link_to party.name, political_party_path(party) %></p>
            <p class="league-user"><%= party.user.username %></p>
          </div>
        </div>
        <div class="party-score"><%= party.score %></div>
      </div>
    </div>
  <% end %>
<% end %>
<% unless current_user.political_parties.all? { |party| @league.political_parties.include?(party) } %>
  <h4>Add party to league</h4>
<% end %>
<% current_user.political_parties.each do |political_party| %>
  <% unless @league.political_parties.include? political_party %>
    <%= link_to league_league_connections_path(political_party: political_party, league_id: @league), {method: :post} do %>
      <div class="league-card">
          <%= political_party.name  %>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>

