<h2>My politicial parties</h2>

<% current_user.political_parties.each do |party| %>
  <%= link_to political_party_path(party) do %>
<div>
    <aside class="sidebar-left3">
    </aside>

    <article>
      <div class="grid-container">
        <div>
          <p class="party-members">
            <%= party.name.upcase %>
          </p>
          <p class="party-members-count">
            <%= party.politicians.count %>
            party members
          </p>
        </div>
        <div>
          <p class="score">
            SCORE
          </p>
          <p class="score-number">
            <%= party.score %>
          </p>
        </div>
      </div>
    </article>
    <aside class="sidebar-right3">
      <p>
      </p>
    </aside>
</div>
<% end %>
<% end %>

  <%= link_to "Add a new party", new_political_party_path, class: 'main-button modal-button'%>
