<div class="container">
  <h2>Your Parties</h2>
  <% current_user.political_parties.each do |party| %>
    <%= link_to political_party_path(party) do %>
      <h3><%= party.name %></h3>
    <% end %>

    <div class="row">
     <!-- main content here -->

    <% party.politicians.each do |politician| %>
      <div class="col-xs-12 col-sm-6 md-3">
        <div class="card-container">
          <div class="card card<%=politician.id%>">
            <div class="front" style=
              <% if politician.party == "Labour" %>
                "background-color: #d14253" %>
              <% elsif politician.party == "Conservative" %>
                "background-color: #3c508c" %>
              <% elsif politician.party == "SNP" %>
                "background-color: #f7d456" %>
              <% elsif politician.party == "Lib Dem" %>
                "background-color: #ea8f3a" %>
              <% elsif politician.party == "UKIP" %>
                "background-color: #804e99" %>
              <% else %>
                "background-color: #949396" %>
              <% end %>
              <div class="politican-image" style="background-image: url(<%= cl_image_path politician.cl_photo %>)">
              </div>
              <h2 id="first"><%= politician.first_name %></h2>
              <h2 id="last"><%= politician.last_name %></h2>
              <%#= link_to political_party_politician_link_path(@political_party, @political_party.politician_links.find {|pl| pl.politician == politician}), method: :delete do %>
              <!-- <i class="fas fa-minus" id="minus"></i> -->
              <%# end %>
            </div>
            <div class="back">
              <h2>About</h2>
              <p>
                <%= politician.about %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
    <%= link_to "Add party", new_political_party_path %>
</div>
