

<h1 class="party-header"><%= @political_party.name %></h1>
    <!-- Upper container -->
    <div class="party-statistics">
      <div class="party-numbers">
        <h4>Score</h4>
        <p><%= @political_party.score %></p>
      </div>
      <div class="party-numbers">
        <h4>Members</h4>
        <p><%= @political_party.politicians.count %></p>
      </div>
      <div class="party-leagues">
        <h4>Leagues</h4>

            <% if @political_party.leagues == [] %>
              <p>No leagues yet 😢</p>
            <div class="button-flex">
              <%= link_to "Create a league", new_league_path, class: "main-button party-league-button" %>
              <%= link_to "Join a league", leagues_path, class: "main-button party-league-button" %>
            </div>
            <% else %>
            <ul>
              <% @political_party.leagues.each do |league| %>
                <li><%= link_to league.name, league_path(league) %></li>
              <% end %>
            </ul>
          <% end %>
      </div>
    </div>

    <!-- Lower container -->
    <h4>Politicians</h4>
     <%= link_to "Edit Politicians", new_political_party_politician_link_path(@political_party) %>
    <% @political_party.politicians.sort_by{|i| -i.score}.each_with_index do |politician, index| %>
      <div class="party-politicians">
        <div class="party-politician-card">
          <div class="politician-rank">
            <%= index + 1 %>
          <div class="politician-avatar" style="background-image: url(<%= cl_image_path politician.photo %>);"></div>
          </div>
          <div class="politician-name"><%= politician.name %></div>
          <div class="politician-score"><%= politician.score %></div>
        </div>
      </div>
    <% end %>
