<div class="grid3">
  <header>
    <h2>Hello <%= current_user.username.capitalize%></h2>
  </header>

  <aside class="sidebar-left">
  <div class="user-profile-photo" style= "background-image: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.8) 90%), url(<%= cl_image_path current_user.cl_photo %>);">
  </div>
  </aside>

  <article>
     <div class="allign-left">
      You've created
      <%  a = current_user.political_parties.count %>
      <%= a %>
        <% if  a <= 1%>
         party.
        <% else %>
          parties.
        <% end %>
      <%  current_user.political_parties.each do |party| %>
        <p>
          <%= link_to political_party_path(party) do %>
          <%= party.name %>
          <% end %>
        </p>
      <% end %>
      <% current_user.political_parties.each do |party| %>
        <% unless party.league_connections == [] %>
        <p>You belong to
          <% a = party.league_connections.count  %>
          <%= a %>
          <% if  a <= 1%>
           league.
          <% else %>
            leagues.
          <% end %>
        </p>
          <% party.league_connections.each do |connection| %>
            <%= link_to league_path(connection.league) do %>
              <p><%= connection.league.name %></p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </article>

  <aside class="sidebar-right">
    <div class="cover-background">
    <p>Your email address:</p>
      <p><%= current_user.email %>
    </p>
    </div>
  </aside>

  <footer>
    <p>Is the info we have still up to date?
      <%= link_to edit_user_path(@user) do  %>
      <i class="fas fa-pencil-alt change"> </i>
      <% end %>
    </p>
  </footer>
</div>
