<div class="navbar-fixed-top">

  <div class="navbar-wagon">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "squarewhite.png", height: 50 %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <% if user_signed_in? %>

        <!-- Links when logged in -->
        <% if current_user.political_parties.any? %>
          <%= link_to 'My Parties', political_parties_path, class: "navbar-wagon-item navbar-wagon-link #{'active' if params[:controller] == 'political_parties'}" %>
        <% else %>
          <%= link_to 'Create my party', new_political_party_path, class: "navbar-wagon-item navbar-wagon-link #{'active' if params[:controller] == 'political_parties'}" %>
        <% end %>

        <%= link_to 'Leagues', leagues_path, class: "navbar-wagon-item navbar-wagon-link #{'active' if params[:controller] == 'leagues'}" %>

        <%= link_to "Politicians' Scores", politician_scores_path, class: "navbar-wagon-item navbar-wagon-link #{'active' if params[:controller] == 'politician_scores'}" %>

        <%= link_to 'Rage Page', rage_page_path, class: "navbar-wagon-item navbar-wagon-link #{'active' if params[:action] == 'rage_page'}" %>

        <!-- Avatar with dropdown menu -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <%#= image_tag current_user.cl_photo , class: "avatar dropdown-toggle", id: "navbar-wagon-menu", data: { toggle: "dropdown" } %>
            <div class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" style="background-image: url( <%= image_path current_user.cl_photo%> );"></div>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: '#' do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>

              </li>
            </ul>
          </div>
        </div>


      <% else %>
        <!-- Login link (when logged out) -->
        <button class="main-button login-button" data-toggle="modal" data-target="#myModal2">Log In</button>
      <% end %>
    </div>


    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% if user_signed_in? %>
            <% if current_user.political_parties.any? %>
             <li><%= link_to 'My Parties', political_parties_path %></li>
            <% else %>
              <li><%= link_to 'Create my party', new_political_party_path %></li>
            <% end %>
             <li> <%= link_to "Leagues", leagues_path(current_user.leagues) %></li>
            <li>
              <%= link_to "Politicians' Scores", politician_scores_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li><%= link_to destroy_user_session_path, method: :delete, class: '#' do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
            </li>

          <% else %>
            <li>
              <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path %>Link tag</li>
            <li>
              <%= link_to t(".sign_in", default: "Login"), new_user_session_path %> Link tag
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered my-modal-dialog" role="document">
    <div class="modal-content my-modal2-content">
      <div class="modal-body my-modal-body">
        <h3 class="modal-title my-modal-title" id="exampleModalLongTitle">Log In</h3>
        <button type="button" class="close cross" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= simple_form_for(:user, as: :user, url: session_path(:user)) do |f| %>

        <div class="form-inputs modal-form-inputs">
          <div class="custom-form-group modal-custom-form-group">
            <%= f.input :email,
                               required: true,
                               autofocus: true,
                               label: "Email",
                               label_html: { class: "login-form-label" },
                               input_html: { autocomplete: "email", class: "login-form-input" } %>
          </div>
          <div class="custom-form-group modal-custom-form-group">
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        label: "Password",
                        label_html: { class: "login-form-label" },
                        input_html: { autocomplete: "new-password", class: "login-form-input"  } %>
          </div>
        <div class="form-actions flexbox-column">
          <%= f.button :submit, "Go", class: "main-button modal-button" %>
        </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script>
    $('#myModal2').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })
  </script>
<% end %>
