<div class="navbar-fixed-top">
  <div class="navbar-wagon" <%= yield(:navbar_class) %>>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png", height: 50 %>
    <% end %>
<div> render</div>


    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <% if user_signed_in? %>
        <!-- Links when logged in -->

          <% if current_user.political_party %>
            <%= link_to 'My Party', political_party_path(current_user.political_party), class: "navbar-wagon-item navbar-wagon-link" %>
          <% else %>
            <%= link_to 'Create my party', new_political_party_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <% end %>
            <% if current_user.league %>
          <%= link_to "My Leagues", league_path(current_user.league), class: "navbar-wagon-item navbar-wagon-link" %>
            <% else %>
            <%= link_to 'Create my league', new_league_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <% end %>
          <%= link_to "Leaderboard", leagues_path, class: "navbar-wagon-item navbar-wagon-link" %>

        <!-- Avatar with dropdown menu -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <%= image_tag 'logo.png', class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%#= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> <%#= t(".profile", default: "Profile") %>
                <%# end %>
              </li>
              <li>
                <%#= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%#= t(".sign_out", default: "Log out") %>
                <%# end %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>


        <!-- Login link (when logged out) -->
        <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    </div>


    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% if user_signed_in? %>
            <li>
              <%#= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%#= t(".sign_out", default: "Log out") %>
                <%# end %>
              </li>
              <li>
                <%#= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                  <%# end %>
              </li>
          <% else %>
            <li>
              <%#= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path %>Link tag</li>
            <li>
              <%#= link_to t(".sign_in", default: "Login"), new_user_session_path %> Link tag
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

