<%= content_for :chart_js do%>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= javascript_pack_tag "chart.js" %>
<% end %>





<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item active">
    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Publicity</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Scores</a>
  </li>
</ul>

<h3>Politicians' scores</h3>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active in" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="container">
      <p>Media activity over the past 24hours</p>
      <%= bar_chart PoliticianScore.where.not(mentions: 0).order(mentions: :desc).map {|ps|  [ps.politician.name, ps.mentions]}, colors: ["skyblue", "#67E191"] %>
    </div>
  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
   <div class="container">
     <p><strong>Top ten politicians:</strong></p>
     <% top_politicians = [] %>
     <% Politician.all.sort_by{|i| -i.score}.each do |politician| %>
       <% top_politicians << politician  %>
     <% end %>
     <% counter = 0 %>
     <% top_politicians.first(10).each do |politician| %>
      <p><%counter +=1 %>
        <%= counter %>.
      <%= politician.name %>: <%= politician.score %> points</p>
     <% end %>
   </div>
  </div>
</div>





<!--
<ul>
  <%# @politicians.each do |politician| %>

  <li><%#= politician.score %></li>
  <%# end %>
</ul> -->
<!-- <div class="grid">
  <aside class="sidebar-left">
   <div class="league-table">
      <%# @politician_scores.each do |politician_score| %>
        <%# if politician_score.mentions > 0 %>
          <ul>
            <li>
              <p>
                <%#= politician_score.politician.first_name %>
                <%#= politician_score.politician.last_name %>,
                <%#= politician_score.politician.party %>
              </p>
              <p>Has been mentioned <%#= politician_score.mentions %> times last week</p>
            </li>
          </ul>
        <%# end %>
      <%# end %>
    </div>
  </aside>

  <article>

  </article>

  <aside class="sidebar-right">


  </aside>

  <footer>

  </footer>
</div> -->


