<div class="grid">
  <header>
    Politicians' scores from last week
  </header>

  <aside class="sidebar-left">
   <div class="league-table">
      <% @politician_scores.each do |politician_score| %>
      <% if politician_score.mentions > 0 %>
      <ul>
           <li>
            <p><%= politician_score.politician.first_name  %>
            <%= politician_score.politician.last_name  %>,
            <%= politician_score.politician.party %></p>
            <p>Has been mentioned <%= politician_score.mentions %> times last week</p>
            </li>
            </ul>
            <% end %>
          <% end %>
    </div>
  </aside>


  <article>
   <%= content_for :chart_js do%>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_pack_tag "chart.js" %>
    <div>
    <%#= pie_chart PoliticianScore.map { |socre|
      name: score.politician.first_name, data: politician_score(:mentions).group  %>
    <%= line_chart PoliticianScore.all.map {|ps|  [ps.politician.name, ps.mentions]} %>
    </div>
  <% end %>
  </article>

  <aside class="sidebar-right">


  </aside>

  <footer>


  </footer>
</div>


