<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<div class="grid">
  <header>
    Politicians' scores from last week
  </header>

  <aside class="sidebar-left">


  </aside>
    <%= pie_chart PoliticianScore.group(:mentions).count, adapter: "chartjs" %>

<%#= line_chart @politician_scores.map { |score|
    {name: score.politician, data: score.group(:mentions) }
} %>
  <article>
    <div class="league-table">
      <% @politician_scores.each do |politician_score| %>
      <ul>
           <li>
            <p><%= politician_score.politician.first_name  %>
            <%= politician_score.politician.last_name  %>,
            <%= politician_score.politician.party %></p>
            <p>Has been mentioned <%= politician_score.mentions %> times last week</p>
            </li>
            </ul>
          <% end %>
    </div>
  </article>

  <aside class="sidebar-right">


  </aside>

  <footer>


  </footer>
</div>


