
  <div class="cards-body">
    <div class="row">
      <h2>Choose your members</h2>

      <%= form_tag new_political_party_politician_link_path(@political_party), :id => 'search-bar', method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search for a politician"
        %>
      <% end %>


      <% @politicians.each do |politician| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-container ">
            <div class="card card<%=politician.id%>">
              <% if politician.party == "Labour" %>
                <div class="front" style="background-color: #d14253">
              <% elsif politician.party == "Conservative" %>
                <div class="front" style="background-color: #3c508c">
              <% elsif politician.party == "SNP" %>
                <div class="front" style="background-color: #f7d456">
              <% elsif politician.party == "Lib Dem" %>
                <div class="front" style="background-color: #ea8f3a">
              <% elsif politician.party == "UKIP" %>
                <div class="front" style="background-color: #804e99">
              <% else %>
                <div class="front" style="background-color: #949396">
              <% end %>
                  <div class="politican-image" style="background-image: url(<%= cl_image_path politician.cl_photo %>)"></div>
                  <h2 id="first"><%= politician.first_name %></h2>
                  <h2 id="last"><%= politician.last_name %></h2>
                  <% if @current_user.political_parties.last.politicians.include? politician %>
                    <%= link_to  political_party_politician_link_path(@political_party, @political_party.politician_links.find {|pl| pl.politician == politician}), method: :delete do %>
                      <i class="fas fa-minus minus"></i>
                    <% end %>
                  <% else %>
                    <%= link_to(political_party_politician_links_path(@political_party, politician_link: {politician_id: politician.id, political_party_id: @political_party.id}), {method: :post}) do %>
                      <% if politician.party == "Green" %>
                        <i class="fas fa-plus add" id="caroline-add"></i>
                      <% else %>
                        <i class="fas fa-plus add"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <div class="back">
                  <h2>About</h2>
                  <p>
                    <%= politician.about %>
                  </p>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<!-- <div class="front" style="background-image:  linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.8) 90%), url(<%#= cl_image_path politician.cl_photo %>);"> -->
