<div class="cards-body">
  <div class="row">
    <h2>Choose your members for  <%= link_to @political_party.name, political_party_path(@political_party) %></h2>

    <%= form_tag new_political_party_politician_link_path(@political_party), :id => 'search-bar', method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for a politician"
      %>
    <% end %>
    <% if @num_of_politicians >= 8 %>
      <%= link_to political_party_path(@political_party) do %>
        <div class="alert-party">
          <p>Your Party is Full! Click to view your party <%= @political_party.name %></p>
        </div>
      <% end %>
    <% end %>

    <% @politicians.each do |politician| %>
      <div id="politician<%=politician.id %>">
        <%= render "politician.html.erb", politician: politician %>
      </div>
    <% end %>
  </div>
</div>
