<div class="cards-body">
  <div class="row">
    <h2 class="new-party-header">Choose your members for  <%= link_to @political_party.name, political_party_path(@political_party) %></h2>
    <div class="info-button">
      <button type="button" class="main-button home-button" id="info-button-new" data-toggle="modal" data-target="#myModalRules">Info</button>
    </div>
    <%= form_tag new_political_party_politician_link_path(@political_party), :id => 'search-bar', method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for a politician"
      %>
    <% end %>
    <div class="party-full-banner" data-ben="<%= @num_of_politicians %>" style="<%= @num_of_politicians >= 8 ? `display: block;` : `display: none;` %>">
      <%= link_to political_party_path(@political_party) do %>
        <div class="alert-party">
          <p>Your Party is Full! Click to view your party <%= @political_party.name %></p>
        </div>
      <% end %>
    </div>

    <% @politicians.each do |politician| %>
      <div id="politician<%=politician.id %>">
        <%= render "politician.html.erb", politician: politician %>
      </div>
    <% end %>
  </div>
</div>


<div class="modal fade" id="myModalRules" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered my-modal-dialog" role="document">
    <div class="modal-content my-rules-modal-content">
      <div class="modal-body my-modal-body">
        <h3 class="modal-title my-modal-title" id="exampleModalLongTitle">Info</h3>
        <button type="button" class="close cross" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-parties">
          <div class="modal-party">
            <p>Labour</p>
            <i class="fas fa-square labour"></i>
          </div>
          <div class="modal-party">
            <p>Conservative</p>
            <i class="fas fa-square conservative"></i>
          </div>
          <div class="modal-party">
            <p>Liberal Democrats</p>
            <i class="fas fa-square lib-dem"></i>
          </div>
          <div class="modal-party">
            <p>SNP</p>
            <i class="fas fa-square snp"></i>
          </div>
          <div class="modal-party">
            <p>Green</p>
            <i class="fas fa-square greens"></i>
          </div>
          <div class="modal-party">
            <p>UKIP</p>
            <i class="fas fa-square ukip"></i>
          </div>
        </div>
        <div class="modal-rules">
          <p>Politicians' scores are calculated based on their <strong class="modal-bold">role in parliament</strong> and the number of times they're <strong class="modal-bold">mentioned in the news</strong> each day, going on the basis that all news is good news.</p>
        </div>
        <a href="http://www.fantasy-politics.xyz/instructions" id="modal-rules-button" class="main-button modal-button" target="_blank">Full Rules</a>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script>
    $('#myModalRules').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })
  </script>
<% end %>
